html, body {
    height:100%;
}

body {
    margin:0 !important;
    padding:0;
    background-color: black; !important;
}

.beamer-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black !important;
    height: 100%;
    width: 100%;
}

.video-wrapper {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.video-wrapper > .player {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    cursor:pointer;
}

.video-wrapper > img {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}